/** buttons.styl
/* Codigo stylus para botones predefinidos.*/
/* Estos botones no necesitan nada mas que un codigo
/* simple de enlace como el que sigue en el ejemplo:
/* <a href="#" class="button">boton</a>
/* El texto a mostrar es el propio texto del elemento "<a>".*/

/* Definición de colores en "colors.styl"*/

/* Definiciones generales para botones grandes y chicos.*/


