/* colors */

$verde_init = #80cbb6
$rosa_lookbook = #eb6969
$lookbook_color = #3f3b3c
$amarillo_manifesto = #ffda9c
$color_home_and_pjs = #f8baa7
$color_lenceria = #0eb293
$color_casual = #d04746
$color_lb_menu = #ffda9c
