
@font-face 
  font-family: 'amatic-regular';
  src: url('fonts/AmaticSC-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal; 

@font-face 
  font-family: 'amatic-bold';
  src: url('fonts/AmaticSC-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: bold; 

@font-face 
  font-family: 'waitingsunrise';
  src: url('fonts/WaitingfortheSunrise.ttf') format('truetype');
  font-weight: normal;
  font-style: normal; 

@font-face 
  font-family: 'cabin-regular';
  src: url('fonts/CabinRegular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal; 

@font-face 
  font-family: 'cabin-bold';
  src: url('fonts/Cabin-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: bold; 
