/*
Theme Name: Como Santas
Theme URI: http://comosantas.com.ar
Description: Tema nativo para el sitio
Author: Suarez, Melo, Suarez
Author URI: http://xifox.net
Version: 1.0
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Tags: comosantas
Text Domain: comosantas
*/

@import 'sources/styles/node_modules/nib'

/* Isotope css3 support */
@import 'sources/styles/deps/isotope.styl'

@import 'sources/styles/deps/clean.styl'

/* commons */
@import 'sources/styles/commons/colors.styl'
@import 'sources/styles/commons/fonts.styl'
@import 'sources/styles/commons/base.styl'
@import 'sources/styles/commons/buttons.styl'
@import 'sources/styles/commons/functions.styl'

/* Component */
/*@import 'sources/javascript/main/build/build.styl'

/* areas */
@import 'sources/styles/areas/layout.styl'
@import 'sources/styles/areas/header.styl'
@import 'sources/styles/areas/filters.styl'
@import 'sources/styles/areas/sidebar.styl'
@import 'sources/styles/areas/primary.styl'
@import 'sources/styles/areas/footer.styl'

/* sections */
@import 'sources/styles/sections/home.styl'
@import 'sources/styles/sections/item.styl'
@import 'sources/styles/sections/resources.styl'
@import 'sources/styles/sections/page.styl'

/* Responsive Mobile */
@import 'sources/styles/responsive/ipad.styl'
@import 'sources/styles/responsive/minitablet.styl'
@import 'sources/styles/responsive/smartph.styl'


div#wrap
  height: 100%
  position: relative
div#main.loading
  min-height: 200px
  background: url(images/bg-white.jpg) repeat-y right
  &:after
    content: ''
    background: url('images/ajax-loader.gif') no-repeat center center
    width:55px
    height:55px
    margin: 60px auto 0
    display: block

/* estilos para perfect scrollbar */
/* fueron eliminados los estilos del 
    scrollbar X, para que no sea visible */
.ps-container
  .ps-scrollbar-y
    position: absolute
    right: 3px
    width: 8px
    background-color: black
    border-radius: 4px
    opacity: 0
    transition: opacity .2s linear
    &.in-scrolling
      opacity: 0.9
  &.ie
    .ps-scrollbar-y
      font-size: 0

.ps-container:hover .ps-scrollbar-x,
.ps-container.hover .ps-scrollbar-x
  opacity: 0.6

.ps-container .ps-scrollbar-x:hover,
.ps-container .ps-scrollbar-x.hover
  opacity: 0.9
  cursor: default

.ps-container:hover .ps-scrollbar-y,
.ps-container.hover .ps-scrollbar-y
  opacity: 0.6

.ps-container .ps-scrollbar-y:hover,
.ps-container .ps-scrollbar-y.hover
  opacity: 0.9
  cursor: default

/* fin estilos para perfect scrollbar */

body.pages
  *
    box-sizing: border-box
  div.pages
    padding-top: 1px
    height: 100%
    div.logo
      width: 98px
      height: 160px
      background-image: url('images/sprite.png')
      position: absolute
      top: 0px
      left: 40px
      a
        width: 84%
        height: 87%
        display: block
      &.manifesto
        background-position: -99px -2px
      &.home-and-pjs
        background-position: -408px -2px
      &.lenceria
        background-position: -305px -2px
      &.casual
        background-position: -202px -2px
      &.lookbook,
      &.quienes-somos,
      &.contacto
        background-position: -1px -2px
      &.init
        width: 120px
        height: 200px
        background-position: -514px -3px
        left: 50%
        margin-left: -60px
    div.splash
      background-image: url('images/somos_como_santas.png')
      height: 728px
      width: 682px
      position: absolute
      top: 50%
      margin-top: -364px
      left: 50%
      margin-left: -341px
    &.manifesto
      background-image: url('images/moles_01_bg_tile.jpg')
      background-repeat: repeat
    &.quienes-somos
      background-image: url('images/olympus_bg_mid.jpg')
      background-repeat: no-repeat
      background-size: cover
      background-position: center bottom
      div.quienessomos
        width: 500px
        height: 440px
        position: absolute
        top: 50%
        left: 50%
        margin-top: -220px
        margin-left: -250px
        background-color: rgba(255, 255, 255, 0.3);
        border: 3px solid black;
        overflow: hidden
        p
          text-align: justify
          font: 19px/25px arial;
          padding: 10px 15px
          margin: 0px

    &.contacto
      background-image: url('images/maquina_mid.jpg')
      background-repeat: no-repeat
      background-size: cover
      background-position: center center
      ul
        margin: 200px auto 40px
        width: 186px
        li
          width: 25px
          height: 25px
          background-image: url('images/sprite.png')
          background-position: 0px -207px
          display: inline-block
          margin-right: 50px
          &.last
            margin: 0px
      p
        font: 40px/22px waitingsunrise
        color: white
        line-height: 20px
        text-align: center
        text-shadow: 3px 3px 7px black;
    &.init
      background-image: none
      div.menu-comosantas-container
        color: blue
        ul.nav-menu
          font: normal 16px cabin-bold
          margin-top: 80px
          background-color: #80cbb6
          height: 36px
          line-height: 36px
          li
            a
              color: white
              text-transform: uppercase
            width: 24.5%
            display: inline-block
            &.menu-item-33,
            &.menu-item-16
              text-align: left
              a
                margin-left: 10%
            &:nth-child(1),
            &:nth-child(2)
              text-align: left
              a
                margin-left: 10%
            &.menu-item-28,
            &.menu-item-34
              text-align: right
              a
                margin-right: 10%
            &:nth-child(3),
            &:nth-child(4)
              text-align: right
              a
                margin-right: 10%
      div.site_logo
        width: 276px
        height: 135px
        background-image: url('images/sprite.png')
        background-position: -3px -254px
        position: absolute
        top: 350px
        right: 20px
        z-index: 10
      div.guarda
        height: 15px
        width: 100%
        background-repeat: repeat
        position: absolute
        z-index: 10
        &.superior
          background-image: url('images/guarda-sup.png')
          top: 217px
        &.inferior
          background-image: url('images/guarda-inf.png')
          top: 492px
      ul.contact_menu
        width: 260px
        margin-left: 40px
        li
          a
            display: block
            width: 71%
            height: 74%
          float: left
          width: 55px
          height: 55px
          background-image: url('images/sprite.png')
          margin-right: 30px
          text-indent: -99999px
          &:last-child
            margin-right: 0px
          &.fb
            background-position: -745px -2px
          &.ma
            background-position: -745px -58px
          &.te
            background-position: -745px -114px

    &.lookbook
      background-image: url('images/green_bg.jpg')
      background-repeat: repeat
      div.menu
        width: 100%
        height: 230px
        position: absolute
        top:50%
        left: 0px
        margin-top: -115px
        ul
          height: 230px
          width: 100%
          li
            width: 33.33%
            height: 230px
            display: inline-block
            float: left
            a
              background-image: url('images/sprite2.png')
              height: 160px
              width: 236px
              display: block
              text-indent: -999999px
              font-size: 0px
              margin: 0px auto
              span
                position: relative
                display: block
                background-image: url('images/sprite.png')
                height: 70px
                width: 220px
                &.option
                  margin-top: 140px
                  background-position: -90px -157px
                &.name
                  top: 28px
                  left: 30px
                  width: 170px
                  height: 40px
            &.home
              a
                background-position: 0px 0px
                span.name
                  background-position: -629px -360px
            &.lenc
              a
                background-position: -238px -3px
                span.name
                  background-position: -592px -326px
            &.cass
              a
                background-position: -477px -6px
                span.name
                  background-position: -584px -290px
    &.lenceria,
    &.casual,
    &.home-and-pjs
      background-repeat: repeat
      div.lookbook_logo
        height: 77px
        width: 410px
        margin: 85px auto 30px
        background-image: url('images/sprite.png')
        background-position: -377px -208px
        a
          display: block
          height: 100%
          width: 100%
    &.home-and-pjs
      background-image: url('images/heart_01_bg_tile.jpg')
    &.casual
      background-image: url('images/heart_03_bg_tile.jpg')
    &.lenceria
      background-image: url('images/heart_02_bg_tile.jpg')

body
  background: url('images/bg-top.jpg') no-repeat center center fixed
  -webkit-background-size: cover
  -moz-background-size: cover
  -o-background-size: cover
  background-size: cover
  filter:unquote('progid:DXImageTransform.Microsoft.AlphaImageLoader(src="images/bg-top.jpg", sizingMethod="scale")')
  -ms-filter: unquote('progid:DXImageTransform.Microsoft.AlphaImageLoader(src="images/bg-top.jpg", sizingMethod="scale"')

